.hero-slider-owl-carousel {
    position: relative;
    display: flex;
    overflow-x: scroll;
    @include hiddenScroll;
    .owl-stage-outer {
        margin-bottom: 0;
    }
    .owl-nav-hero-slider {
        &.disabled {
            display: none;
            visibility: hidden;
        }
        .owl-prev,
        .owl-next {
            position: absolute;
            outline: none;
            background: transparent;
            border: 0;
            margin: 0 auto;
            bottom: 0;
            .material-icons-outlined {
                font-size: 40px;
                color: $white;
                font-weight: bold;
            }
        }
        .owl-prev {
            left: calc(100% / 4);
            @include media-screen-min-max(xs, sm) {
                left: 20px;
            }
            @include media-screen-min-max(sm, md) {
                left: 20px;
            }
        }
        .owl-next {
            right: calc(100% / 4);
            @include media-screen-min-max(xs, sm) {
                right: 20px;
            }
            @include media-screen-min-max(sm, md) {
                right: 20px;
            }
        }
    }

    .owl-dots-hero-slider {
        position: absolute;
        bottom: 8px;
        z-index: 1500;
        left: 50%;
        width: 100%;
        @include transform-translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        .owl-dot {
            span {
                @include size(13px);
                @include border-radius(50%);
                @include BoxShadow(4);
                margin: 4px;
                background: #ffa633;
                display: block;
                @include transition(background 1000ms linear);
            }

            &.active {
                span {
                    background: #cc0000;
                    border: 2px solid #ffa633;
                }
            }
        }
    }
}
