.client-kami-owl-carousel {
    position: relative;
    display: flex;
    .owl-stage-outer {
        margin-bottom: 0;
    }
    .owl-nav-client-kami {
        &.disabled {
            display: none;
            visibility: hidden;
        }
        .owl-prev,
        .owl-next {
            position: absolute;
            outline: none;
            background: transparent;
            border: 0;
            margin: 0 auto;
            background: #ffffff;
            top: calc(50% - 20px);
            @include transform-translateY(calc(-50% - 8px));
            @include size(55px);
            @include border-radius(50%);
            @include BoxShadow(4);
            @include centerFlex;
            @include transition(all 0.7s);
            @include hover {
                background: #ffa633;
            }
        }
        .owl-prev {
            left: 0;
        }
        .owl-next {
            right: 0;
        }
    }

    .owl-dots-client-kami {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        position: absolute;
        bottom: 16px;
        @include centerXX;
        .owl-dot {
            span {
                @include size(13px);
                @include border-radius(50%);
                @include BoxShadow(4);
                margin: 4px;
                background: #ffa633;
                display: block;
                @include transition(background 1000ms linear);
                margin-left: 12px;
            }

            &.active {
                span {
                    background: #cc0000;
                    border: 2px solid #ffa633;
                }
            }
        }
    }
}
